* {
    background-color: rgb(182, 209, 245);
    justify-content: center;
    align-items: center;
}

.card {
    width: 1350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: hard-light black;
    
}

.card-wrapper {
    width: 500px;
    height: 500px;
    border: 8px ridge rgb(192, 164, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
    font-size: white;
    text-align: center;
    text-transform: uppercase;
}